
<script type="text/javascript">
function ShowPopup(hoveritem)
{
hp = document.getElementById("hoverpopup");

// Set position of hover-over popup
hp.style.top = hoveritem.offsetTop + 18;
hp.style.left = hoveritem.offsetLeft + 20;

// Set popup to visible
hp.style.visibility = "Visible";
}

function HidePopup()
{
hp = document.getElementById("hoverpopup");
hp.style.visibility = "Hidden";
}
</script>
<html>
	<head> 
<script src= "../scripts/hover.js" type="text/javascript"> </script> 
</head> 
<h1>Skill Tree</h1>

<div id="hoverpopup" style="visibility:hidden; position:fixed; top:50; left:0;"><table bgcolor="#0000FF">
<tr><td bgcolor="#8888FF">luckjy</td></tr></table></div>
<% form_for(@character) do |f| %>
<%= f.error_messages %>
<table border="1">
    <tr>
        <th>
            Merchant Skill Tree
        </th>
        <th>
            Battle Skill Tree
        </th>
        <th>
            Ship Skill Tree
        </th>
    </tr>
    <tr>
        <td>
            <%= f.label "Lucky Hand (Max 5)" %>
            <%= f.text_field :lucky, :size =>1, :value =>@character.lucky %> 
			
<a id="hoverover" style="cursor:default;" onMouseOver="ShowPopup(this);" onMouseOut="HidePopup();">?</a>
            <br>
            <br>
            <%= f.label "Penny Pincher (Min 3 in Lucky Hand, Max 5)" %>
            <%= f.text_field :penny, :size =>1,:value =>@character.penny %>
            <br>
            <br>
            <%= f.label "Gold Rush (Min 3 in Penny Pincher and Lucky Hand, Max 1)" %>
            <%= f.text_field :goldrush, :size =>1,:value =>@character.goldrush %>
        </td>
        <td>
            <%= f.label "Shooting Blind (Max 5)" %>
            <%= f.text_field :shootingblind, :size =>1,:value =>@character.shootingblind %>
            <br>
            <br>
            <%= f.label "Cannon Mastery (Min 3 in Lucky Hand, Max 5)" %>
            <%= f.text_field :cannonmastery, :size =>1, :value =>@character.cannonmastery %>
            <br>
            <br>
            <%= f.label "True Shot (Min 3 in Cannon Mastery and Shooting Blind, Max 1)" %>
            <%= f.text_field :trueshot, :size =>1, :value =>@character.trueshot %>
        </td>
        <td>
            <%= f.label "Cargo Reduction (Max 5)" %>
            <%= f.text_field :cargoreduction, :size =>1, :value =>@character.cargoreduction %>
            <br>
            <br>
            <%= f.label "Ol' Sturdy (Min 3 in Cargo Reduction, Max 5)" %>
            <%= f.text_field :olsturdy, :size =>1, :value =>@character.olsturdy %>
            <br>
            <br>
			<br>
            <%= f.label "Smooth Sailing (Min 3 in Ol' Sturdy and Cargo Reduction, Max 1)" %>
            <%= f.text_field :smoothsailing, :size =>1, :value =>@character.smoothsailing %>
        </td>
    </tr>
</table>
<br>
Your total unspent points <%=@character.unspent_points %>
<p>
    <%= f.submit 'Continue' %>
    <% end %>
</p>
</html>
