<p>
  <b>Simulation Number:</b>
  <%=h @battle.id %>
</p>

<p>
  <b>Ship1:</b>
  <%=h Ship.find(@battle.ship1_id).name %>
</p>

<p>
  <b>Ship2:</b>
  <%=h Ship.find(@battle.ship2_id).name %>
</p>

<p>
  <b>Recap:</b><br />
  <% @recaparray.each do |line| %>
  	<%= line %><br />
  <% end %>
</p>


<%= link_to 'Edit', edit_battle_path(@battle) %> |
<%= link_to 'Back', battles_path %>