<h1>Editing route</h1>

<% form_for(@route) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start %><br />
    <%= f.text_field :start %>
  </p>
  <p>
    <%= f.label :end %><br />
    <%= f.text_field :end %>
  </p>
  <p>
    <%= f.label :distance %><br />
    <%= f.text_field :distance %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @route %> |
<%= link_to 'Back', routes_path %>