<p>
  <b>Start:</b>
  <%=h @route.start %>
</p>

<p>
  <b>End:</b>
  <%=h @route.end %>
</p>

<p>
  <b>Distance:</b>
  <%=h @route.distance %>
</p>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>